#container-fluid{

background-color:rgb(12, 227, 231);
}

#add-task-category-btn{

    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-department-btn{

    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-role-btn {

    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.admin-row {
    margin: 20px;
    padding: 20px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-row h4 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  #add-employee-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #add-department-btn {

    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #add-employee-btn:hover {
    background-color: #3e8e41;
  }
  
  #employees-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #employees-table th, #employees-table td {
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
  }
  
  #employees-table th {
    background-color: #f0f0f0;
  }

  #add-role-btn {

    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#view-roles-btn {

    background-color: #1c7fb9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#view-departments-btn{

    background-color: #1c7fb9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}